<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,0},{32,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{32,22}}</string>
                <key>sourceSize</key>
                <string>{34,24}</string>
            </dict>
            <key>bird_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,0},{32,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{32,22}}</string>
                <key>sourceSize</key>
                <string>{34,24}</string>
            </dict>
            <key>bird_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,0},{32,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{32,22}}</string>
                <key>sourceSize</key>
                <string>{34,24}</string>
            </dict>
            <key>bird_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,0},{32,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{32,22}}</string>
                <key>sourceSize</key>
                <string>{34,24}</string>
            </dict>
            <key>bird_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,0},{32,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{32,22}}</string>
                <key>sourceSize</key>
                <string>{34,24}</string>
            </dict>
            <key>bird_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,0},{32,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{32,22}}</string>
                <key>sourceSize</key>
                <string>{34,24}</string>
            </dict>
            <key>bird_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,0},{36,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{36,20}}</string>
                <key>sourceSize</key>
                <string>{36,24}</string>
            </dict>
            <key>bird_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,0},{36,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{36,18}}</string>
                <key>sourceSize</key>
                <string>{36,24}</string>
            </dict>
            <key>bird_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,0},{36,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{36,18}}</string>
                <key>sourceSize</key>
                <string>{36,24}</string>
            </dict>
            <key>bird_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,0},{36,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{36,20}}</string>
                <key>sourceSize</key>
                <string>{36,24}</string>
            </dict>
            <key>bird_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,0},{36,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{36,18}}</string>
                <key>sourceSize</key>
                <string>{36,24}</string>
            </dict>
            <key>bird_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,0},{36,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{36,18}}</string>
                <key>sourceSize</key>
                <string>{36,24}</string>
            </dict>
            <key>bird_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,480},{284,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,512}}</string>
                <key>sourceSize</key>
                <string>{284,512}</string>
            </dict>
            <key>bird_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,159},{336,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,112}}</string>
                <key>sourceSize</key>
                <string>{336,112}</string>
            </dict>
            <key>bird_game_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,0},{191,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{191,40}}</string>
                <key>sourceSize</key>
                <string>{195,46}</string>
            </dict>
            <key>bird_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,58},{182,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{182,60}}</string>
                <key>sourceSize</key>
                <string>{190,64}</string>
            </dict>
            <key>bird_noice.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,58},{94,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{94,64}}</string>
                <key>sourceSize</key>
                <string>{112,70}</string>
            </dict>
            <key>bird_noice_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,58},{96,64}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{96,64}}</string>
                <key>sourceSize</key>
                <string>{112,70}</string>
            </dict>
            <key>bird_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,0},{100,56}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{100,56}}</string>
                <key>sourceSize</key>
                <string>{112,72}</string>
            </dict>
            <key>bird_rank_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,0},{100,56}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{100,56}}</string>
                <key>sourceSize</key>
                <string>{112,72}</string>
            </dict>
            <key>bird_rate.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,0},{66,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,40}}</string>
                <key>sourceSize</key>
                <string>{66,40}</string>
            </dict>
            <key>bird_tap.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,58},{115,99}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{115,99}}</string>
                <key>sourceSize</key>
                <string>{115,103}</string>
            </dict>
            <key>bird_touch.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,58},{96,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{96,65}}</string>
                <key>sourceSize</key>
                <string>{112,71}</string>
            </dict>
            <key>bird_touch_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,58},{98,65}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{98,65}}</string>
                <key>sourceSize</key>
                <string>{112,71}</string>
            </dict>
            <key>logo-origin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,480},{276,319}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{276,319}}</string>
                <key>sourceSize</key>
                <string>{320,319}</string>
            </dict>
            <key>logo-origin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,159},{272,319}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{272,319}}</string>
                <key>sourceSize</key>
                <string>{320,319}</string>
            </dict>
            <key>new.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{32,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,14}}</string>
                <key>sourceSize</key>
                <string>{32,14}</string>
            </dict>
            <key>obstacle_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,480},{51,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,320}}</string>
                <key>sourceSize</key>
                <string>{51,320}</string>
            </dict>
            <key>obstacle_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,480},{51,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,320}}</string>
                <key>sourceSize</key>
                <string>{51,320}</string>
            </dict>
            <key>scorebest.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,159},{150,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,135}}</string>
                <key>sourceSize</key>
                <string>{150,135}</string>
            </dict>
            <key>sound_banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,58},{25,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,80}}</string>
                <key>sourceSize</key>
                <string>{25,80}</string>
            </dict>
            <key>sound_banner_o.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,58},{25,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,80}}</string>
                <key>sourceSize</key>
                <string>{25,80}</string>
            </dict>
            <key>sound_mode.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,159},{77,139}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{77,139}}</string>
                <key>sourceSize</key>
                <string>{89,139}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bird.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07c2c730151944a2df7017486eccff20$</string>
            <key>textureFileName</key>
            <string>bird.png</string>
        </dict>
    </dict>
</plist>
